/*body {
  background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/starring.png');
}*/

.boxed {
  border-top: 10px;
  border-bottom: 10px;
  border-left: 10px;
  border-right: 10px;
  border-color: black;
  padding: 10px 25px;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 630px;
  background-color: white;
}

#start {
  padding: 25px 50px;
  text-align: center;
  font-size: 15px;
  position: absolute;
  top: 350px;
  left: 630px;
  border-color: #2F4F4F;
  background-color: #F8F8FF;
  color: black;
  font-weight: bolder;
}

#red {
  padding: 50px 100px;
  background-color: rgba(204, 51, 30, 1);
  position: absolute;
  top: 145px;
  left: 700px;
  border-color: black;
  /*animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: 1s;
  animation-iteration-count: 2s;*/
}

@keyframes flash {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1.0;
  }
}

#blue {
  padding: 50px 100px;
  background-color: rgba(26, 62, 217, 1);
  position: absolute;
  top: 250px;
  left: 700px;
  border-color: black;
}

#yellow {
  padding: 50px 100px;
  background-color: rgba(240, 238, 34, 1);
  position: absolute;
  top: 250px;
  left: 500px;
  border-color: black;
}

#green {
  padding: 50px 100px;
  background-color: rgba(33, 224, 57, 1);
  position: absolute;
  top: 145px;
  left: 500px;
  border-color: black;
}
